/* [MOBILE] This applies from 0px to 375px */
@import url('https://fonts.googleapis.com/css?family=Miriam+Libre');
* {
    font-family: 'Miriam Libre', sans-serif;
}

html, body {
    background-color: #000000;
    margin-top: 0;
    color: #F2F2F2;
    font-family: 'Miriam Libre', sans-serif;
}

.container > div {
    padding: 20px;
    background-color: #282828;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 335px;
    grid-template-rows: 100% 314px 284px 284px 258px 335px;
    grid-gap: 20px;
    margin: 20px;
}

h1 {
    font-size: 24px;
    align-self: center;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

.supply-element {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.distance-element {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.temperatureChart-element {
    width: 50%;
    height: 50%;
}

.temperatureText-element {
    width: 60%;
    height: 60%;
}

.fuelChart-element {
    width: 50%;
    height: 50%;
}

.fuelText-element {
    width: 60%;
    height: 60%;
}

.speed-element {
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
}

.date-element {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}











/* [TABLET] This applies from 375px to 1024px */
@media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation: landscape) {

    .container > div {
}
    
    .container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 111px 111px 111px 111px 111px 111px;
        grid-template-areas: 
            "h h h h f f f f e e e e"
            "s s s s f f f f e e e e"
            "s s s s t t t t t t t t"
            "s s s s t t t t t t t t"
            "w w w w t t t t t t t t"
            "w w w w t t t t t t t t";
    }
    
    .header {
        grid-area: h;
    }
    
    .speed {
        grid-area: s;
    }
    
    .fuel {
        grid-area: f;
    }
    
    .engine {
        grid-area: e;
    }
    
    .supplies {
        grid-area: w;
    }
    
    .traveled {
        grid-area: t;
    }
}










/* [LAPTOP] This applies from 1024px to 1366px */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    
    .container > div {
    }
    
    .container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 286px 422px;
        grid-template-areas: 
            "h h h w w w e e e f f f"
            "s s s s t t t t t t t t";
    }
    
    .header {
        grid-area: h;
    }
    
    .speed {
        grid-area: s;
    }
    
    .fuel {
        grid-area: f;
    }
    
    .engine {
        grid-area: e;
    }
    
    .supplies {
        grid-area: w;
    }
    
    .traveled {
        grid-area: t;
    }
}










/* [DESKTOP] This applies from 1366px */
@media only screen and (min-width: 1366px) {
    
    .container > div {
    }
    
    .container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 401px 621px;
        grid-template-areas:
            "h h h w w w e e e f f f"
            "s s s t t t t t t t t t";
    }
            
    .header {
        grid-area: h;
    }
    
    .speed {
        grid-area: s;
    }
    
    .fuel {
        grid-area: f;
    }
    
    .engine {
        grid-area: e;
    }
    
    .supplies {
        grid-area: w;
    }
    
    .traveled {
        grid-area: t;
    }
}

















